# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user
inst/python/__pycache__
inst/bin
inst/lib
inst/synapseclient*
*.Rproj
.RData
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.project
.pydevproject
.settings
.DS_Store
..Rcheck/
synapse.Rproj
inst/doc
# local build/ testing output
*.tar.gz
bin/*
inst/synapseclient*
lib/*

*.pyc
