# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/

inst/python

# produced vignettes
vignettes/*.html
vignettes/*.pdf

.project
.pydevproject
.settings

.DS_Store

.Rbuildignore
synapse.Rproj
man/AccessControlList.Rd
man/ResourceAccess.Rd
man/Row.Rd
man/RowReference.Rd
man/RowReferenceSet.Rd
man/Settings.Rd
man/TableColumn.Rd
man/TableRowSet.Rd
man/TypedList.Rd
man/asTypedList.Rd
man/AsynchUploadToTableRequestBody.Rd
man/AsynchUploadToTableResponseBody.Rd
man/AsynchronousJobStatus.Rd
man/AsynchronousRequestBody.Rd
man/AsynchronousResponseBody.Rd
man/ExternalUploadDestination.Rd
man/S3UploadDestination.Rd
man/UploadDestination.Rd
man/SubmissionQuota.Rd
inst/resources/Register.json
inst/resources/schema
